# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
ENCRYPTION_KEY=tobemodified


# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=siraa-health
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_SSL=false/true
DATABASE_FILENAME=
JWT_SECRET=tobemodified


# access token
CMS_CUSTOM_TOKEN=""

# origin
ALLOWED_ORIGIN="http://localhost:3000"
ALLOWED_REFERRAL="http://localhost:3000"